.body {
  background-color: #429f85;
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

body::after {
  content: "";
  display: block;
  /* height: .5em; Set same as footer's height */
}

.App {
  text-align: left;
  background-color: #429f85;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .home-page {
  text-align: center;
} */

.menulogo {
  max-width: 1.5em;
  padding-top: 0.3em;
}

.homebtn {
  color: #bb4c9c;
}

.overviewtbtn {
  color: #bb4c9c;
}

.aboutbtn {
  color: #bb4c9c;
}

.faqbtn {
  color: #bb4c9c;
}

.contactbtn {
  color: #bb4c9c;
}

/* .applyhere {
  color: #bb4c9c !important;
} */

.home-headline {
  font-size: 2.9em;
  height: 0.7.4em;
}

.home-copy {
  text-align: justify;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.applybtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overview-headline {
  font-size: 3.2em;
}

.Lauren {
  height: 10em;
}

.Jena {
  height: 10em;
}

.Kevin {
  height: 10em;
}

.contact-header {
  text-align: center;
}

.contact-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
}

.page-footer {
  text-align: center;
  position: fixed;
  bottom: 0%;
  width: 100%;
  /* height: 5em; */
}
